{{!-- <form id="addToCartForm" action="/api/carts/{{param}}" method="POST"
 class="formButton buttonGray">
  <input type="submit" value="Enviar al carrito" alt="enviar al carrito">
</form> --}}

<!-- Botón en la plantilla -->
  <button class="formButton buttonGray" onclick="agregarAlCarrito('{{param}}')">
    Enviar al carrito
  </button>



